{% include 'Partials/head.twig' %}
{% include 'Partials/navbar.twig' %}
{% include 'Partials/header.twig' %}

<section>
    <br/>
    <a href="/episodes">
            <div>All episodes</div>
    </a>
        <a href="/seasons">
            <div> All Seasons</div>
        </a>
</section>
{% include 'Partials/footer.twig' %}