{% include 'Partials/head.twig' %}
{% include 'Partials/navbar.twig' %}
{% include 'Partials/header.twig' %}

<section>
    <br>
    {% for each in episode %}
        <a href="/episode/{{ each.id }}">
            <div>{{ each.name }}</div>
        </a>
    {% endfor %}
</section>

{% include 'Partials/footer.twig' %}