<div class="navbar">
    <form action="/" method="POST">
        <input type="text" name="episode" id="episode" placeholder="Search episode (e.g. S01E01)">
        <input type="submit" value="Episode">
    </form>
    {% if searchEpisode is not empty %}
        <h2>Search Results:</h2>
        <ul>
            {% for episode in searchEpisode %}
                <li>
                    ID: {{ episode.id }}<br>
                    Name: {{ episode.name }}<br>
                    Episode: {{ episode.episode }}<br>
                    Air Date: {{ episode.air_date }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Enter an episode.</p>
    {% endif %}
</div>