{# App/Views/article-show.twig #}
<!DOCTYPE html>
<html>
<head>
    <title>Article Details</title>
</head>
<body>
<h1>{{ article.getTitle() }}</h1>
<p>{{ article.getDescription() }}</p>
</body>
</html>